node_modules
.expo
.git
android
ios
bin
build
*.log
error.md
*.zip
*.apk
*.rar
!assets/*.png
!assets/*.jpg
!assets/*.jpeg
!assets/*.json
!assets/*.ttf
!assets/*.otf
!src/assets/*.png
!src/assets/*.jpg
!src/assets/*.jpeg
!src/assets/*.json
!src/assets/*.ttf
!src/assets/*.otf
*.tar.gz
*.tar
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
.env*.local
.metro-health-check*
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.tsbuildinfo
